
.header {
    position: sticky;
    position: -webkit-sticky;

    /*Vai colocar ele na posição 0 do topo da página*/
    top: 0;
    background-color: antiquewhite;
    padding: 5px;
    font-size: 15px;
}

.relative {
    position: relative;
    background-color: aquamarine;
    height: 100px;
}

/*precisa de atributos e vai se posicionar dentro do seu ancestral*/
.absolute {
    position: absolute;
    background-color: red;
    height: 50px;
    right: 0px;
    bottom: 25px;
    width: 20px;
}

.icone-fixed {
   position: fixed;
   bottom: 0px;
   right: 0px;
   background-color: black;
}