
.imagem-flutuante {
    float: left;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*vai ignorar o left da imagem*/
.texto-com-clear {
    clear: left;
    background-color: aquamarine;
}

